* {
    font-family: monospace;
}

.container {
    padding: 0px 50px 0px 50px;
}

.conteudo {
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 4px;
    margin-bottom: 100px;
    padding: 5px;
}


.titulo {
    font-size: 25px;
    color: grey;
}

#paragrafo {
    font-size: 18px;
}